<div *ngIf="loader" class="spinner-wrapper">
    <app-loader></app-loader>
</div>

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Page </h5>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="card-body">
                        <form class="form formEdit" [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label><b>Title</b></label>
                                <input type="text" [(ngModel)]="pageDetail" class="form-control" formControlName="title"
                                    placeholder="Enter Title">
                                <span
                                    *ngIf="form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched)"
                                    class="text-danger">
                                    <span *ngIf="form.get('title')?.errors?.['required']">
                                        Title is required.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group ">
                                <label><b>Slug</b></label>
                                <input type="text" [(ngModel)]="pageSlug" class="form-control" formControlName="slug"
                                    placeholder="Enter Slug">
                                <span
                                    *ngIf="form.get('slug')?.invalid && (form.get('slug')?.dirty || form.get('slug')?.touched)"
                                    class="text-danger">
                                    <span *ngIf="form.get('slug')?.errors?.['required']">
                                        Slug is required.
                                    </span>
                                </span>
                            </div>
                            <!-- <div class="form-group formText">
                                <label><b>Description</b></label>
                                <textarea class="form-control" [(ngModel)]="pageDescription"
                                    formControlName="description" placeholder="Enter Description"></textarea>
                                <span
                                    *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)"
                                    class="text-danger">
                                    <span *ngIf="form.get('description')?.errors?.['required']">
                                        Description is required.
                                    </span>
                                </span>
                            </div> -->

                            <div class="form-group formText">
                                <label><b>Description</b></label>
                                <ckeditor [(ngModel)]="pageDescription" formControlName="description" id="description"
                                    name="description">
                                </ckeditor>
                                <span
                                    *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)"
                                    class="text-danger">
                                    <span *ngIf="form.get('description')?.errors?.['required']">
                                        Description is required.
                                    </span>
                                </span>
                            </div>

                            <div class="form-group updateBtn">
                                <button type="submit" class="primaryButton">Update</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>