 <div *ngIf="loader" class="spinner-wrapper">
    <app-loader></app-loader>
</div> 
 <div class="mainSection">
    <div class="forgotWrapper">
        <div class="forgotImageWrapper">
            <img src="assets/images/forgot.jpg" alt="login-image" />
          </div>
        <div class="main-container">
            <div class="yourPassword">
                <h3>Forgot Password</h3>
            </div>
            <form class="formWrapper" [formGroup]="forgetFormEmail" (ngSubmit)="submitForEmail()">
                <div class="mb-2 userName">
                    <label class="form-label">Email</label>
                    <input type="text" formControlName="email" placeholder="Email" class="form-control" />
                    <i class="fa fa-envelope readName" aria-hidden="true"></i>
                    <span
                        *ngIf="forgetFormEmail.get('email')?.invalid && (forgetFormEmail.get('email')?.dirty || forgetFormEmail.get('email')?.touched)"
                        class="text-danger">
                        <span *ngIf="forgetFormEmail.get('email')?.errors?.['required']">
                            Email is required.
                        </span>
                        <span *ngIf="forgetFormEmail.get('email')?.errors?.['email']">
                            Enter valid password
                        </span>
                    </span>
                </div>
                    <div class="forgotButton">
                        <button class="primaryButton" type="submit" [disabled]="!forgetFormEmail.valid">
                            Forget Password
                        </button>
                </div>
                <div class="backLogin">
                   <a [routerLink]="['/login']" class="viewStart"> Go to Login</a> 
                </div>
            </form>
        </div>
    </div>
</div> 

   