@import '../../../../assets/style/color-variables';
@import '../../../../assets/style/button.scss';
.mainSection {
    background-color: #eee;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .resetWrapper {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        align-items: center;
        
        .resetImageWrapper {
            min-width: 280px;
            img{
                max-width: 300px;
                width: 100%;
                background-color: #d9d9d9;
                text-align: center;
                padding: inherit;
                filter: invert(0.05);
            }
        }
        .main-container{
            background-color: white;
            padding: 20px 30px 40px;
            width: 100%;
            .yourPassword{
                margin-bottom: 40px;
                h3{
                    font-size: 24px;
                    line-height: 26px;
                    font-weight: 500;
                    color: #000;
                    text-align: center;
                    text-transform: capitalize;
                    // text-decoration: underline;
                    margin-bottom: 10px;
                }
            }
            .formWrapper{
                .userName {
                    position: relative;
                    .readName {
                        position: absolute;
                        top: 42px;
                        right: 10px;
                        cursor: pointer;
                        color: #ffb706;
                    }
                }
                .resetButton{
                        display: grid;
                        margin-top: 25px;
                }
            }
        }
    }
}
.spinner-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 998;
    app-spinner {
        width: 6rem;
        height: 6rem;
    }
}
