<div *ngIf="loader" class="spinner-wrapper">
    <app-loader></app-loader>
</div> 
<div class="mainSection">
    <div class="resetWrapper">
        <div class="resetImageWrapper">
            <img src="assets/images/reset.avif" alt="login-image" />
          </div>
        <div class="main-container">
            <div class="yourPassword">
                <h3>Reset Your Password</h3>
            </div>
            <form class="formWrapper" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="mb-2 userName">
                    <label class="form-label">Password</label>
                    <input type="password" formControlName="password" placeholder="New Password" class="form-control"/>
                    <!-- <i class="fa fa-eye-slash readName" aria-hidden="true"></i> -->
                    <span
                        *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)"
                        class="text-danger">
                        <span *ngIf="resetPasswordForm.get('password')?.errors?.['required']">
                            Password is required.
                        </span>
                        <!-- <span *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">
                            Password should have at leat 8 characters.
                        </span> -->
                    </span>
                </div>

                <div class="mb-2 userName">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" formControlName="cpassword" placeholder="Confirm Password" class="form-control" />
                    <!-- <i class="fa fa-eye-slash readName" aria-hidden="true"></i> -->
                    <span
                        *ngIf="resetPasswordForm.get('cpassword')?.invalid && (resetPasswordForm.get('cpassword')?.dirty || resetPasswordForm.get('cpassword')?.touched)"
                        class="text-danger">
                        <span *ngIf="resetPasswordForm.get('cpassword')?.errors?.['required']">
                          Confirm password is required.
                        </span>
                        <!-- <span *ngIf="resetPasswordForm.get('cpassword')?.errors?.['minlength']">
                            Password should have at leat 8 characters.
                        </span> -->
                    </span>
                </div>
                    <div class="resetButton">
                        <button class="primaryButton" type="submit" [disabled]="!resetPasswordForm.valid">
                            Reset Password
                        </button>
                    </div>
                </form>
           </div>
        </div>
   </div>
